

<h1>登録が完了しました！！</h1>
<hr />
<h2>テキストフィールド（POST）</h2>
<p>料理：<%= @food %></p>
<p>スポーツ：<%= @sports %></p>
<p>本：<%= @book %></p>
<hr />

<h2>チェックボックス</h2>
<p>モデルのdispFoodメソッドを利用</p>
<p><%= @food_text %></p>
<hr />

<h2>チェックボックス</h2>
<p><%= @programming %></p>

<hr />
<h2>テキストフィールド（GET）</h2>
<p><%= @dinner.join("、") %></p>
<hr />

<h2>ラジオボタン</h2>
<p><%= @select_gender %></p>

<hr />

<h2>セレクトボックス</h2>
<p><%= @programming %></p>

<hr />

<%= link_to "入力画面へ", "/params" %>
